.button {
    font: inherit;
    font-weight: medium;
}

.button:focus {
    outline: none;
}

button:not(:disabled).button,
a[href].button {
    cursor: pointer;
}

.button_view_contained {
    padding: 0 15px;

    transition: background-color var(--time-microinteraction);

    color: var(--color-white);
    border: none;
    background-color: var(--color-shark);
}

.button_view_contained:active {
    background-clip: content-box;
}

.button_view_contained:hover,
.button:focus-visible {
    background-color: var(--color-tuna);
}

.button_size_m {
    height: 55px;
}
