.sidebar {
  --width-sidebar: 240px;
  --padding-sidebar: 20px;

  flex-shrink: 0;

  padding: var(--padding-sidebar);

  width: var(--width-sidebar);

  color: var(--color-white);
  background-color: var(--color-shark);
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sidebar__item {
  padding: 15px;
  background-color: var(--color-shark);
  border-radius: 10px;
}

.sidebar__item:hover {
  box-shadow: inset 2px 2px 5px rgba(255, 9, 9, 0.5), 1px 1px 5px rgb(251, 14, 14);
}
