.sidebar {
  --sidebarWidth: 240px;
  --paddingSidebar: 20px;
  min-width: var(--sidebarWidth);
  max-width: var(--sidebarWidth);
  background-color: --scrollMainAndSidebarBgColor;
  color: white;
  padding: var(--paddingSidebar);
}

.sidebar__wrapper {
  position: fixed;
  max-width: calc(var(--sidebarWidth) - var(--paddingSidebar) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar__item {
  padding: 15px;
  background-color: var(--sidebarItemBgColor);
  border-radius: 10px;
}
