body {
  font-family: 'Lato', sans-serif;
}

.header {
  flex-basis: 160px;
  background-color: #111;
  padding-top: 20px;

}

.header__link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.header__link_active {
  color: #e6e6e6;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.header__link:hover {
  color: #f1f1f1;
}

.sidenav {
  position: fixed;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
